.explore {

    &__row {
        display: flex;
        @media(max-width: 1400px) {
            flex-direction: column;
            align-items: center;
        }
        @media(max-width: $md7) {
            align-items: flex-start;
        }
    }

    &__column {
        flex: 0 1 50%;
        &:not(:last-child) {
            margin: 0 60px 0 0;
        }
        @media(max-width: 1400px) {
            &:not(:last-child) {
                margin: 0 0 62px 0;
                width: 100%;
            }
            &:last-child {
                padding: 0 132px;
            }
        }
        @media(max-width: $md7) {
            &:not(:last-child) {
                margin: 0;
            }
            &:last-child {
                padding: 0;
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }

    &__column-item {
        img {
            width: 100%;
        }
    }

    &__title {
    }

    &__title-text {
    }

    &__content {
        @media(max-width: $md7) {
            display: none;
        }
    }

    &__content-text {
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        font-weight: 300;
        line-height: 39px;
        color: #fff;
        &:not(:last-child) {
            margin: 0 0 25px 0;
        }
        @media(max-width: $md5) {
            &:last-child {
                display: none;
            }
        }
    }
}
.section {

    &__title {

        &_dark {
        }
    }

    &__title-text {

        &_dark {
        }
    }
}
.container {
}
.yellow-text {
    color: rgba(202, 170, 125, 1);
}

#image-comparison-slider {
    position: relative;
    width: min(80vw, 768px);
    overflow: hidden;
    cursor: col-resize;
  }

  #image-comparison-slider img {
    display: block;
    width: min(80vw, 768px);
    height: auto;
    max-height: 80vh;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
  }
  #image-comparison-slider .img-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    transform: translateZ(0);
  }
  #image-comparison-slider .img-wrapper img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
  #image-comparison-slider .label {
    position: absolute;
    top: 1rem;
    z-index: 3;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.33);
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
    font-size: 0.85rem;
    text-align: center;
    letter-spacing: 1px;
    user-select: none;
    opacity: 0;
    transition: 0.25s cubic-bezier(.68,.26,.58,1.22);
  }
  #image-comparison-slider:hover .label {
    opacity: 1;
  }
  #image-comparison-slider .label.label-before {
    left: 1rem;
  }
  #image-comparison-slider .label.label-after {
    right: 1rem;
    background-color: #f95540;
  }
  #image-comparison-slider .handle {
    position: absolute;
    top: 0;
    left: calc(50% - 50px/2);
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    z-index: 2;
  }
  #image-comparison-slider .handle-line {
    width: 2px;
    flex-grow: 1;
    background-color: #fff;
  }
  #image-comparison-slider .handle-circle {
    width: 50px;
    height: 50px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }