.gallery {
    background: $dark;
    height: 2200px;
    overflow: hidden;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 300px;
        background: linear-gradient(180deg,rgba(3,3,3,0) 0,rgba(3,3,3,0.851716) 62%,#030303 75%)
    }
    @media (max-width: $md5) {
        height: 1446px;
    }
    @media (max-width: $md7) {
        height: 1220px;
    }
    @media (max-width: 420px) {
        height: 757px;
    }
    &__title {
        &::after {
            display: none;
        }
    }

    &__title-text {
        padding: 0;
    }

    &__wrapper {
    }

    &__row {
        display: flex;
    }

    &__column {
        &:not(:last-child) {
            margin: 0 35px 0 0;
        }
        &_padding {
            padding: 50px 0 0 0;
        }
        @media (max-width: $md7) {
            &:nth-child(2) {
                margin: 0;
            }
            &:last-child {
                display: none;
            }
        }
    }

    &__item {
        &:not(:last-child) {
            margin: 0 0 25px 0;
        }
        img {
            width: 100%;
        }
        transform: translate(0, 120%);
        opacity: 0;
        transition: 400ms;
        &._active {
            transform: translate(0, 0);
            opacity: 1;
        }
    }
}

