.header {
    background: $dark;
    padding: 60px 0;
    position: relative;
    @media(max-width: $md5) {
        padding: 50px 0;
    }
    @media(max-width: $md7) {
        padding: 35px 0;
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
    }

    &__link {
    }

    &__logo-image {
        @media(max-width: $md5) {
            width: 95%;
        }
        @media(max-width: $md7) {
            width: 100%;
        }
        @media(max-width: 420px) {
            width: 66%;
        }
    }

    &__menu {
    }

    &__menu-icon {
        @media (max-width: $md5) {
            display: block;
            position: relative;
            width: 32px;
            height: 18px;
            cursor: pointer;
            z-index: 5;
            span {
                top: 8px;
                left: 0;
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #fff;
                transition: 400ms;
                &:first-child {
                    top: 0;
                }
                &:last-child {
                    top: auto;
                    bottom: 0;
                }
            }
            &._menu-active {
                span {
                    transform: scale(0);
                    &:first-child {
                        transform: rotate(-45deg);
                        top: 8px;
                    }
                    &:last-child {
                        transform: rotate(45deg);
                        bottom: 8px;
                    }
                }
            }
        }
    }

    &__menu-body {
        @media (max-width: $md5) {
            position: absolute;
            width: 297px;
            height: 100vh;
            left: 0;
            top: 99%;
            background-color: $dark;
            overflow: auto;
            transform: translate(-100%, 0);
            transition: 400ms;
            z-index: 5;
            &._menu-active {
                transform: translate(0, 0);
            }
        }
        @media (max-width: $md7) {
            transform: translate(0, -100%);
            top: 0;
            width: 100%;
            &._menu-active {
                transform: translate(0, 0);
                top: 99%;
            }
        }
    }

    &__menu-list {
        display: flex;
        @media (max-width: $md5) {
            flex-direction: column;
            margin: 35px 0 0 55px;
        }
    }

    &__menu-item {
        &:not(:last-child) {
            margin: 0 55px 0 0;
        }
        @media (max-width: $md5) {
            &:not(:last-child) {
                margin: 0 0 25px 0;
            }
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            width: 122px;
        }
    }

    &__menu-arrow {
        display: none;
        @media (max-width: $md5) {
            display: block;
        }
    }

    &__menu-link {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 200;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 2px;
        transition: 400ms;
        color: #fff;
        &:hover {
            color: rgba(157, 134, 101, 1);
        }
        @media (max-width: $md5) {
            font-size: 20px;
            font-weight: 300;
            line-height: 23px;
        }
    }

    &__menu-images {
        display: none;
        @media (max-width: $md7) {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            row-gap: 15px;
	        column-gap: 15px;
            margin: 35px 55px 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }
        @media (max-width: 420px) {
            grid-template-rows: 22.5vw;
            grid-template-columns: 1fr 1fr 1fr;
            row-gap: 13px;
	        column-gap: 13px;
            margin: 35px 55px 0;
            padding: 0 0 20px 0;
        }
        @media (max-width: 400px) {
            grid-template-rows: 22vw;
        }
        @media (max-width: 380px) {
            grid-template-rows: 21.5vw;
        }
        @media (max-width: 360px) {
            grid-template-rows: 20.5vw;
        }
        @media (max-width: 360px) {
            grid-template-rows: 19vw;
        }
    }
    &__image-item {
        img {
            width: 100%;
            @media (max-width: 420px) {
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &__menu-contacts {
        display: none;
        @media (max-width: $md7) {
            display: block;
            padding: 35px 0;
        }
    }

    &__contacts-row {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__contacts-item {
        &:not(:last-child) {
            margin: 0 55px 0 0;
        }
        @media (max-width: 420px) {
            &:not(:last-child) {
                margin: 0 40px 0 0;
            }
        }
    }

    &__contacts-link {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &:before {
            content: '';
            position: absolute;
            border: 1px solid #666666;
            width: 48px;
            height: 48px;
            border-radius: 50%;
        }
    }
}

.image-item-1 {
    grid-row: 1/2;
	grid-column: 1/3;
    @media (max-width: 420px) {
        grid-row: 1/2;
        grid-column: 1/2;
    }
}

.image-item-2 {
    grid-row: 2/3;
	grid-column: 1/2;
    @media (max-width: 420px) {
        grid-row: 1/2;
        grid-column: 2/3;
    }
}

.image-item-3 {
    grid-row: 2/3;
	grid-column: 2/3;
    @media (max-width: 420px) {
        grid-row: 1/2;
        grid-column: 3/4;
    }
}
