//-----------------------------------------------------
//MIXINS
@import "mixins";
//MIXINS
//-----------------------------------------------------



//-----------------------------------------------------
//FONTS
@import "fonts";
//FONTS
//-----------------------------------------------------



//-----------------------------------------------------
//ICON-FONTS
@import "icons";
//ICON-FONTS
//-----------------------------------------------------



//-----------------------------------------------------
//VARIABLES
@import "variables";
//VARIABLES
//-----------------------------------------------------



//-----------------------------------------------------
//RESET
@import "reset";
//RESET
//-----------------------------------------------------


//-----------------------------------------------------
//GENERAL STYLES
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	&.loaded {
	}
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	width: 100%;
}

.ibg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	img {
		display: none;
	}
}
//GENERAL STYLES
//-----------------------------------------------------


//-----------------------------------------------------
//STYLES
@import "header";
@import "footer";
//STYLES
//-----------------------------------------------------


//-----------------------------------------------------
//MAIN BLOCK

//MAIN BLOCK
//-----------------------------------------------------