//-----------------------------------------------------
//MIXINS
@import "mixins";
//MIXINS
//-----------------------------------------------------



//-----------------------------------------------------
//FONTS
@import "fonts";
//FONTS
//-----------------------------------------------------



//-----------------------------------------------------
//ICON-FONTS
@import "icons";
//ICON-FONTS
//-----------------------------------------------------



//-----------------------------------------------------
//VARIABLES
@import "variables";
//VARIABLES
//-----------------------------------------------------



//-----------------------------------------------------
//RESET
@import "reset";
//RESET
//-----------------------------------------------------


//-----------------------------------------------------
//GENERAL STYLES

body {
	&._lock {
		overflow: hidden;
	}
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	&.loaded {
	}
}

.container {
	max-width: 1470px;
	padding: 0 15px;
	margin: 0 auto;
}
//GENERAL STYLES
//-----------------------------------------------------


//-----------------------------------------------------
//STYLES
@import "header";
@import "footer";
//STYLES
//-----------------------------------------------------

.link {
	transition: 400ms;
	&:hover {
		color: rgba(157, 134, 101, 1);
	}
	&:visited {
		color: rgba(126, 108, 81, 1);
	}
}

//-----------------------------------------------------
//MAIN BLOCK

//MAIN BLOCK
//-----------------------------------------------------