@font-face {
  font-family: "Forum";
  font-display: swap;
  src: url("../fonts/Forum-Regular.woff") format("woff"), url("../fonts/Forum-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  scroll-behavior: smooth;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background: #030303;
}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

.link {
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}

.link:hover {
  color: #9d8665;
}

.link:visited {
  color: #7e6c51;
}

.visiting__iframe-wrapper {
  width: 100vw;
  height: 100vh;
}

.visiting__iframe-wrapper iframe {
  width: 100%;
  height: 100%;
}

.section {
  padding: 75px 0;
}

.section__title {
  position: relative;
  padding: 0 0 75px 0;
}

.section__title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #710707;
}

.section__title-text {
  font-family: "Forum", serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding: 0 0 25px 0;
}

.section__title-text_light {
  color: #9d8665;
}

.section__title-text_dark {
  color: #fff;
}

.header {
  background: #030303;
  padding: 60px 0;
  position: relative;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-item:not(:last-child) {
  margin: 0 55px 0 0;
}

.header__menu-arrow {
  display: none;
}

.header__menu-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
  color: #fff;
}

.header__menu-link:hover {
  color: #9d8665;
}

.header__menu-images {
  display: none;
}

.header__image-item img {
  width: 100%;
}

.header__menu-contacts {
  display: none;
}

.header__contacts-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contacts-item:not(:last-child) {
  margin: 0 55px 0 0;
}

.header__contacts-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contacts-link:before {
  content: "";
  position: absolute;
  border: 1px solid #666666;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.image-item-1 {
  grid-row: 1/2;
  grid-column: 1/3;
}

.image-item-2 {
  grid-row: 2/3;
  grid-column: 1/2;
}

.image-item-3 {
  grid-row: 2/3;
  grid-column: 2/3;
}

.welcome {
  background: #030303;
  position: relative;
}

.welcome__title-wrapper {
  position: absolute;
  z-index: 4;
  top: 50%;
  -webkit-transform: translate(0, -65%);
      -ms-transform: translate(0, -65%);
          transform: translate(0, -65%);
  opacity: 1;
  visibility: visible;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}

.welcome__title-wrapper._menu-active {
  opacity: 0;
  visibility: hidden;
}

.welcome__title {
  padding: 0 0 25px 0;
  max-width: 593px;
}

.welcome__title-text {
  font-family: "Forum", serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  color: #fff;
  text-transform: uppercase;
}

.welcome__subtitle {
  padding: 0 0 75px 0;
}

.welcome__subtitle-text {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: 33px;
  letter-spacing: 2px;
  color: #fff;
}

.welcome__discover-link {
  padding: 32px 64px;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 2px;
  text-align: center;
  background: #710707;
  color: #fff;
  border-radius: 10px;
  max-width: 360px;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}

.welcome__discover-link:hover {
  background: #9d8665;
}

.welcome__slider {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.welcome__slider-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.welcome__slider-image {
  position: relative;
  max-width: 1000px;
}

.welcome__slider-image img {
  width: 100%;
}

.welcome__slider-image::before {
  content: "";
  position: absolute;
  left: -1px;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#000000), color-stop(16.19%, rgba(0, 0, 0, 0.5)), color-stop(30.73%, rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
}

.welcome__slider-controlls-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  z-index: 1;
  bottom: 60px;
}

.welcome__slider-controlls {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  background: #030303;
}

.welcome__slider-pagination {
  position: relative;
  margin: 0 45px 0 0;
}

.welcome__slider-pagination .swiper-pagination-bullet {
  height: 16px;
  width: 16px;
  background: #fff;
  border-radius: 0;
  opacity: 1;
}

.welcome__slider-pagination .swiper-pagination-bullet:not(:last-child) {
  margin: 0 25px 0 0;
}

.welcome__slider-pagination .swiper-pagination-bullet-active {
  background: #D2B183;
}

.welcome__slider-arrows {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome__slider-prev {
  position: static;
  top: auto;
  width: auto;
  height: 10px;
  margin-top: 0;
  z-index: 10;
  cursor: pointer;
  margin: 0 20px 0 0;
}

.welcome__slider-next {
  position: static;
  top: auto;
  width: auto;
  height: 10px;
  margin-top: 0;
  z-index: 10;
  cursor: pointer;
}

.welcome__slider-numbers {
  color: #fff;
  margin: 0 45px 0 70px;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.slide-number {
  display: none;
}

.visiting {
  background: #fff;
}

.visiting__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.visiting__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.visiting__column:not(:last-child) {
  margin: 0 60px 0 0;
}

.visiting__column-item:not(:last-child) {
  margin: 0 0 75px 0;
}

.visiting__column-link {
  color: #000;
}

.visiting__column-link:hover img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.visiting__column-link:hover .visiting__column-title-text {
  color: #9d8665;
}

.visiting__column-link:hover .visiting__column-title::after {
  width: 100%;
}

.visiting__column-image {
  margin: 0 0 25px 0;
  overflow: hidden;
}

.visiting__column-image img {
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
  width: 100%;
}

.visiting__column-title {
  position: relative;
  padding: 0 0 10px 0;
}

.visiting__column-title::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 2px;
  background: #710707;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}

.visiting__column-title-text {
  padding: 0 0 20px 0;
  font-family: "Forum", serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}

.visiting__column-360 {
  margin: 0 0 12px 0;
}

.visiting__column-360-text {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 200;
  line-height: 26px;
}

.visiting__column-google-text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 21px;
}

.explore__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.explore__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.explore__column:not(:last-child) {
  margin: 0 60px 0 0;
}

.explore__column-item img {
  width: 100%;
}

.explore__content-text {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 39px;
  color: #fff;
}

.explore__content-text:not(:last-child) {
  margin: 0 0 25px 0;
}

.yellow-text {
  color: #caaa7d;
}

#image-comparison-slider {
  position: relative;
  width: min(80vw, 768px);
  overflow: hidden;
  cursor: col-resize;
}

#image-comparison-slider img {
  display: block;
  width: min(80vw, 768px);
  height: auto;
  max-height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#image-comparison-slider .img-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

#image-comparison-slider .img-wrapper img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

#image-comparison-slider .label {
  position: absolute;
  top: 1rem;
  z-index: 3;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.33);
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  font-size: 0.85rem;
  text-align: center;
  letter-spacing: 1px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0;
  -webkit-transition: 0.25s cubic-bezier(0.68, 0.26, 0.58, 1.22);
  -o-transition: 0.25s cubic-bezier(0.68, 0.26, 0.58, 1.22);
  transition: 0.25s cubic-bezier(0.68, 0.26, 0.58, 1.22);
}

#image-comparison-slider:hover .label {
  opacity: 1;
}

#image-comparison-slider .label.label-before {
  left: 1rem;
}

#image-comparison-slider .label.label-after {
  right: 1rem;
  background-color: #f95540;
}

#image-comparison-slider .handle {
  position: absolute;
  top: 0;
  left: calc(50% - 25px);
  width: 50px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 2;
}

#image-comparison-slider .handle-line {
  width: 2px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #fff;
}

#image-comparison-slider .handle-circle {
  width: 50px;
  height: 50px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.video {
  background: #fff;
}

.video__title-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video__title-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.video__title-column:not(:last-child) {
  margin: 0 116px 0 0;
}

.video__title::after {
  display: none;
}

.video__title-text {
  padding: 0;
}

.video__description-text {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 39px;
  color: #000;
}

progress {
  background-color: #c4c4c4;
  border: 0;
  height: 8px;
  border-radius: 0;
}

progress::-webkit-progress-bar {
  background-color: #c4c4c4;
  border: 0;
  height: 8px;
  border-radius: 0;
}

progress::-webkit-progress-value {
  background-color: #710707;
}

input[type=range] {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  overflow: hidden;
  height: 8px;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 8px;
  background-color: #c4c4c4;
}

input[type=range]::-webkit-slider-thumb {
  background: #710707;
  cursor: pointer;
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
  margin-top: -4px;
  -webkit-box-shadow: -200px 0 0 200px #710707;
          box-shadow: -200px 0 0 200px #710707;
}

input[type=range]::-moz-range-track {
  height: 8px;
  background-color: #c4c4c4;
}

.video__controlls {
  background: #030303;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 27px 30px;
  position: relative;
  bottom: 2px;
}

.video__button-wrapper:not(:last-child) {
  margin: 0 50px 0 0;
}

.video__button-wrapper button {
  background: #030303;
}

.video__button-wrapper button img {
  background: #030303;
}

.video__slider-image {
  position: relative;
}

.video__play-pause {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%);
      -ms-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
  background: transparent;
  width: 100%;
  height: 100%;
  margin: 86.6px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video__progress-wrapper {
  width: 100%;
  margin: 0 50px 0 0;
}

.video__slider-mini {
  margin: 40px 0 0 0;
}

.video__slider-mini-slide:not(:last-child) {
  margin: 0 40px 0 0;
}

.video__wrapper iframe {
  height: 254px;
}

.video__slider-controlls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0 0 0;
}

.video__slider-pagination {
  position: relative;
}

.video__slider-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #999;
}

.video__slider-pagination .swiper-pagination-bullet:not(:last-child) {
  margin: 0 20px 0 0;
}

.video__slider-pagination .swiper-pagination-bullet-active {
  background: #333;
}

.video__slider-prev {
  margin: 0 20px 0 0;
}

.video__slider-next {
  margin: 0 0 0 20px;
}

.play__wrapper {
  display: none;
}

.play__wrapper.active {
  display: block;
}

.active {
  display: block;
}

.pause__wrapper {
  display: none;
}

.pause__wrapper.active {
  display: block;
}

.mute__wrapper {
  display: none;
}

.mute__wrapper.active {
  display: block;
}

.unmute__wrapper {
  display: none;
}

.unmute__wrapper.active {
  display: block;
}

.play-pause {
  width: 100%;
  height: 100%;
  background: transparent;
  display: none;
}

.play-pause.active {
  display: block;
}

.pause-play {
  width: 100%;
  height: 100%;
  display: none;
  background: transparent;
}

.pause-play.active {
  display: block;
}

.gallery {
  background: #030303;
  height: 2200px;
  overflow: hidden;
  position: relative;
}

.gallery::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 300px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(3, 3, 3, 0)), color-stop(62%, rgba(3, 3, 3, 0.851716)), color-stop(75%, #030303));
  background: -o-linear-gradient(top, rgba(3, 3, 3, 0) 0, rgba(3, 3, 3, 0.851716) 62%, #030303 75%);
  background: linear-gradient(180deg, rgba(3, 3, 3, 0) 0, rgba(3, 3, 3, 0.851716) 62%, #030303 75%);
}

.gallery__title::after {
  display: none;
}

.gallery__title-text {
  padding: 0;
}

.gallery__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery__column:not(:last-child) {
  margin: 0 35px 0 0;
}

.gallery__column_padding {
  padding: 50px 0 0 0;
}

.gallery__item {
  -webkit-transform: translate(0, 120%);
      -ms-transform: translate(0, 120%);
          transform: translate(0, 120%);
  opacity: 0;
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
}

.gallery__item:not(:last-child) {
  margin: 0 0 25px 0;
}

.gallery__item img {
  width: 100%;
}

.gallery__item._active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.ticket {
  background: #fff;
}

.ticket__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ticket__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.ticket__column:first-child {
  margin: 0 60px 0 0;
}

.ticket__column:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.ticket__item img {
  width: 100%;
}

.ticket__item-title {
  margin: 0 0 45px 0;
}

.ticket__item-title-text {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
}

.ticket__radio-item {
  cursor: pointer;
}

.ticket__radio-item input {
  cursor: pointer;
}

.ticket__radio-item label {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 26px;
  cursor: pointer;
}

.ticket__radio-item:not(:last-child) {
  margin: 0 0 30px 0;
}

.ticket__type-item:last-child {
  margin: 0 0 40px 0;
}

.ticket__type-title {
  margin: 0 0 15px 0;
}

.ticket__type-title-text {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 26px;
}

.ticket__type {
  margin: 0 0 10px;
}

.ticket__type-amount-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 4px solid #000;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ticket__type-amount-button {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  cursor: pointer;
  width: 100%;
}

.ticket__type-amount-button_18-plus {
  margin: 0 17px 0 0;
  text-align: right;
}

.ticket__type-amount-button_18-minus {
  margin: 0 0 0 17px;
}

.ticket__type-amount-button_65-plus {
  margin: 0 17px 0 0;
  text-align: right;
}

.ticket__type-amount-button_65-minus {
  margin: 0 0 0 17px;
}

.ticket__type-amount-input {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 26px;
  width: 100%;
  text-align: center;
}

.ticket__total-item {
  margin: 0 0 60px 0;
}

.ticket__total-item-text {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 1.65px;
}

.ticket__button {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 2px;
  text-align: center;
  padding: 17px 38px;
  background: #000;
  color: #fff;
}

input[type=radio]:checked,
input[type=radio]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type=radio]:checked + label,
input[type=radio]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 40px;
  line-height: 20px;
  cursor: pointer;
}

input[type=radio]:checked + label:before,
input[type=radio]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 3px solid #000;
  background-color: #ffffff;
}

input[type=radio]:checked + label:before,
input[type=radio]:not(:checked) + label:before {
  border-radius: 100%;
}

input[type=radio]:checked + label:after,
input[type=radio]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input[type=radio]:checked + label:after,
input[type=radio]:not(:checked) + label:after {
  left: 5px;
  top: 5px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #000;
}

input[type=radio]:not(:checked) + label:after {
  opacity: 0;
}

input[type=radio]:checked + label:after {
  opacity: 1;
}

.parallax {
  height: 400px;
}

.parallax__wrapper {
  height: 100%;
  width: 100%;
  background-image: url(../img/parallax.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.contacts {
  background: #fff;
}

.contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__column:first-child {
  margin: 0 196px 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.contacts__column:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
}

.contacts__column-title {
  margin: 0 0 50px 0;
}

.contacts__column-title-text {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 33px;
}

.contacts__column-address {
  margin: 0 0 25px;
}

.contacts__column-address-text {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 26px;
}

.contacts__column-phone {
  margin: 0 0 25px;
}

.contacts__column-phone-text {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 26px;
}

.contacts__column-phone-text a {
  color: #000;
}

.contacts__column-mail-text {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 26px;
}

.contacts__column-mail-text a {
  color: #000;
}

.contacts__map-wrapper iframe {
  width: 100%;
  height: 620px;
}

.footer {
  color: #fff;
}

.footer__contacts {
  padding: 85px 0 50px;
  border-bottom: 3px solid #fff;
}

.footer__contacts-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__contacts-column:first-child {
  margin: 0 145px 0 0;
}

.footer__contacts-column:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.footer__contacts-nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__nav-column:first-child {
  margin: 0 150px 0 0;
}

.footer__nav-item:not(:last-child) {
  margin: 0 0 25px 0;
}

.footer__nav-link {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 200;
  line-height: 26px;
  letter-spacing: 2px;
}

.footer__contacts-social-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social-item:not(:last-child) {
  margin: 0 50px 0 0;
}

.footer__social-item:last-child {
  margin: 0 25px 0 0;
}

.footer__social-item:before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.footer__social-link {
  display: block;
  position: relative;
  z-index: 100;
}

.footer__copyrights {
  padding: 50px 0;
}

.footer__copyrights-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyrights-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.footer__copyrights-column:nth-child(2) {
  text-align: center;
}

.footer__copyrights-column:last-child {
  text-align: right;
}

.footer__copyrights-link {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 200;
  line-height: 22px;
  letter-spacing: 2px;
}

@media (min-width: 768px) {
  .footer__nav-link {
    font-size: 18px;
    line-height: 21px;
  }
}

@media (max-width: 1400px) {
  .explore__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .explore__column:not(:last-child) {
    margin: 0 0 62px 0;
    width: 100%;
  }

  .explore__column:last-child {
    padding: 0 132px;
  }
}

@media (max-width: 1360px) {
  .visiting__column-title {
    width: 50px;
  }
}

@media (max-width: 1145px) {
  .footer__contacts {
    padding: 65px 0 50px;
  }

  .footer__contacts-column:first-child {
    margin: 0 45px 0 0;
  }

  .footer__nav-column:first-child {
    margin: 0 100px 0 0;
  }
}

@media (max-width: 1024px) {
  .section {
    padding: 60px 0;
  }

  .section__title {
    padding: 0 0 60px 0;
  }

  .section__title-text {
    font-size: 50px;
    line-height: 75px;
    padding: 0 0 20px 0;
  }

  .header {
    padding: 50px 0;
  }

  .header__logo-image {
    width: 95%;
  }

  .header__menu-icon {
    display: block;
    position: relative;
    width: 32px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .header__menu-icon span {
    top: 8px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
  }

  .header__menu-icon span:first-child {
    top: 0;
  }

  .header__menu-icon span:last-child {
    top: auto;
    bottom: 0;
  }

  .header__menu-icon._menu-active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__menu-icon._menu-active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 8px;
  }

  .header__menu-icon._menu-active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 8px;
  }

  .header__menu-body {
    position: absolute;
    width: 297px;
    height: 100vh;
    left: 0;
    top: 99%;
    background-color: #030303;
    -webkit-transform: translate(-200%, 0);
        -ms-transform: translate(-200%, 0);
            transform: translate(-200%, 0);
    -webkit-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
    z-index: 5;
  }

  .header__menu-body._menu-active {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .header__menu-body::before {
    content: "";
    position: absolute;
    left: 99%;
    height: 100%;
    width: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#000000), color-stop(16.19%, rgba(0, 0, 0, 0.5)), color-stop(30.73%, rgba(0, 0, 0, 0)));
    background: -o-linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
  }

  .header__menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 35px 0 0 55px;
  }

  .header__menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 122px;
  }

  .header__menu-item:not(:last-child) {
    margin: 0 0 25px 0;
  }

  .header__menu-arrow {
    display: block;
  }

  .header__menu-link {
    font-size: 20px;
    font-weight: 300;
    line-height: 23px;
  }

  .welcome__title-wrapper {
    -webkit-transform: translate(0, -80%);
        -ms-transform: translate(0, -80%);
            transform: translate(0, -80%);
  }

  .welcome__title-text {
    font-size: 50px;
  }

  .welcome__subtitle-text {
    font-size: 24px;
    line-height: 28px;
  }

  .welcome__discover-link {
    font-size: 20px;
    line-height: 23px;
    padding: 25px 45px;
  }

  .welcome__slider-image {
    max-width: 700px;
  }

  .welcome__slider-controlls {
    width: 700px;
  }

  .welcome__slider-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }

  .welcome__slider-numbers {
    margin: 0 45px 0 230px;
    font-size: 20px;
  }

  .visiting__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .visiting__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .visiting__column:not(:last-child) {
    margin: 0 0 60px 0;
  }

  .visiting__column-item {
    margin: 0 108px 0 0;
  }

  .visiting__column-item:not(:last-child) {
    margin: 0 108px;
  }

  .visiting__column-title::after {
    width: 150px;
  }

  .visiting__column-title {
    width: 100%;
  }

  .visiting__column-title-text {
    font-size: 24px;
    letter-spacing: 3px;
    line-height: 30.91px;
  }

  .visiting__column-360 {
    margin: 0 0 10px 0;
  }

  .visiting__column-360-text {
    font-size: 20px;
    line-height: 23.44px;
  }

  .visiting__column-google-text {
    font-size: 16px;
    line-height: 18.75px;
  }

  .explore__content-text:last-child {
    display: none;
  }

  .video__title-column:last-child {
    display: none;
  }

  .video__title-column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .video__title-column:not(:last-child) {
    margin: 0;
  }

  .video__title {
    padding: 0 0 40px 0;
  }

  .video__title {
    padding: 0 0 20px 0;
  }

  .video__controlls {
    padding: 15px 30px;
  }

  .video__button-wrapper:not(:last-child) {
    margin: 0 50px 0 0;
  }

  .video__play-pause {
    margin: 56.6px 0 0 0;
  }

  .video__progress-wrapper {
    margin: 0 50px 0 0;
  }

  .video__wrapper iframe {
    height: 170px;
  }

  .play-pause img {
    width: 152px;
    height: 152px;
  }

  .gallery {
    height: 1446px;
  }

  .ticket__column:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .ticket__column:last-child .ticket__item:first-child {
    display: none;
  }

  .ticket__item-title {
    margin: 0 0 25px 0;
  }

  .ticket__type-title {
    margin: 0 0 10px 0;
  }

  .ticket__type {
    margin: 0 0 15px 0h;
  }

  .ticket__total-item {
    margin: 0 0 70px 0;
  }

  .contacts__column:first-child {
    margin: 0 30px 0 0;
  }

  .contacts__column-title {
    margin: 0 0 35px 0;
  }

  .contacts__column-title-text {
    font-size: 24px;
    line-height: 28px;
  }

  .contacts__column-address {
    margin: 0 0 15px 0;
  }

  .contacts__column-address-text {
    font-size: 20px;
    line-height: 23px;
  }

  .contacts__column-phone {
    margin: 0 0 15px 0;
  }

  .contacts__column-phone-text {
    font-size: 20px;
    line-height: 23px;
  }

  .contacts__column-mail-text {
    font-size: 20px;
    line-height: 23px;
  }

  .contacts__map-wrapper iframe {
    height: 454px;
  }
}

@media (max-width: 1024px) and (max-width: 768px) {
  .header__menu-body::before {
    display: none;
  }
}

@media (max-width: 955px) {
  .footer__contacts-column:first-child {
    margin: 0 80px 0 0;
  }

  .footer__contacts-column:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .footer__contacts-item_m {
    width: 100%;
    margin: 0 0 50px 0;
  }

  .footer__contacts-social-wrapper {
    margin: 0 0 0 10px;
  }
}

@media (max-width: 935px) {
  .visiting__column-title {
    width: 50px;
  }
}

@media (max-width: 900px) {
  .contacts__column:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }

  .contacts__column:last-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 40px 0;
  }

  .section__title {
    padding: 0 0 40px 0;
  }

  .section__title-text {
    font-size: 40px;
    line-height: 60px;
  }

  .header {
    padding: 35px 0;
  }

  .header__logo-image {
    width: 100%;
  }

  .header__menu-body {
    -webkit-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
            transform: translate(0, -100%);
    top: 0;
    width: 100%;
  }

  .header__menu-body._menu-active {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    top: 99%;
  }

  .header__menu-images {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
    margin: 35px 55px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .header__menu-contacts {
    display: block;
    padding: 35px 0;
  }

  .welcome__title-wrapper {
    position: relative;
    top: auto;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .welcome__title {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .welcome__title-text {
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    max-width: 328px;
  }

  .welcome__subtitle {
    padding: 0 0 50px 0;
  }

  .welcome__subtitle-text {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
  }

  .welcome__discover-button {
    display: none;
  }

  .welcome__slider-image {
    max-width: 100%;
  }

  .welcome__slider-image::before {
    display: none;
  }

  .welcome__slider-controlls-wrapper {
    bottom: 0;
  }

  .welcome__slider-controlls {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .welcome__slider-numbers {
    margin: 0 45px 0 0;
  }

  .visiting__column-item {
    margin: 0 56px 0 0;
  }

  .visiting__column-item:not(:last-child) {
    margin: 0 56px;
  }

  .visiting__column-title {
    width: 100%;
  }

  .visiting__column-title-text {
    font-size: 22px;
    line-height: 24px;
  }

  .visiting__column-360-text {
    font-size: 18px;
    line-height: 21px;
  }

  .visiting__column-google-text {
    font-size: 16px;
    line-height: 19px;
  }

  .explore__row {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .explore__column:not(:last-child) {
    margin: 0;
  }

  .explore__column:last-child {
    padding: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .explore__content {
    display: none;
  }

  .video__controlls {
    padding: 8px 30px;
  }

  .video__button-wrapper:not(:last-child) {
    margin: 0 30px 0 0;
  }

  .video__play-pause {
    margin: 45.6px 0 0 0;
  }

  .video__progress-wrapper {
    position: absolute;
    bottom: 100%;
    left: 0;
  }

  .video__volume {
    width: 100%;
  }

  .video__slider-mini {
    margin: 20px 0 0 0;
  }

  .video__slider-mini-slide:not(:last-child) {
    margin: 0 20px 0 0;
  }

  .video__wrapper iframe {
    height: 199px;
  }

  .video__slider-controlls {
    margin: 20px 0 0 0;
  }

  .play-pause img {
    width: 80px;
    height: 80px;
  }

  .gallery {
    height: 1220px;
  }

  .gallery__column:nth-child(2) {
    margin: 0;
  }

  .gallery__column:last-child {
    display: none;
  }

  .ticket__item-title {
    margin: 0 0 40px 0;
  }

  .ticket__type {
    margin: 0 0 25px 0h;
  }

  .ticket__total-item {
    margin: 0 0 40px 0;
  }

  .parallax {
    height: 300px;
  }

  .contacts__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contacts__column:first-child {
    margin: 0 0 40px 0;
  }

  .contacts__column-title {
    margin: 0 0 40px 0;
  }

  .contacts__column-title-text {
    font-size: 22px;
    line-height: 24px;
  }

  .contacts__column-address-text {
    font-size: 18px;
    line-height: 21px;
  }

  .contacts__column-phone-text {
    font-size: 18px;
    line-height: 21px;
  }

  .contacts__column-mail-text {
    font-size: 18px;
    line-height: 21px;
  }

  .contacts__map-wrapper iframe {
    height: 476px;
  }

  .footer__contacts {
    padding: 40px 0 40px;
  }

  .footer__copyrights {
    padding: 40px 0;
  }
}

@media (max-width: 736px) {
  .visiting__column-title {
    width: 50px;
  }
}

@media (max-width: 655px) {
  .footer__contacts-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__contacts-column:first-child {
    margin: 0 0 40px 0;
  }

  .footer__contacts-item_w {
    width: 100%;
  }

  .footer__contacts-nav-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__nav-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer__nav-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
    text-align: center;
  }

  .footer__contacts-social-wrapper {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__copyrights-column:nth-child(2) {
    display: none;
  }
}

@media (max-width: 620px) {
  .ticket__column:first-child {
    margin: 0 30px 0 0;
  }
}

@media (max-width: 610px) {
  .visiting__column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .visiting__column:not(:last-child) {
    margin: 0 0 40px 0;
  }

  .visiting__column-item {
    margin: 0 50px;
  }

  .visiting__column-item:not(:last-child) {
    margin: 0 50px 40px;
  }

  .visiting__column-title {
    width: 100%;
  }
}

@media (max-width: 590px) {
  .ticket__column:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 63%;
            flex: 0 1 63%;
  }
}

@media (max-width: 460px) {
  .ticket__button {
    font-size: 16px;
  }
}

@media (max-width: 420px) {
  .section__title-text {
    font-size: 28px;
    line-height: 40px;
  }

  .header__logo-image {
    width: 66%;
  }

  .header__menu-images {
    grid-template-rows: 22.5vw;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 13px;
    -webkit-column-gap: 13px;
       -moz-column-gap: 13px;
            column-gap: 13px;
    margin: 35px 55px 0;
    padding: 0 0 20px 0;
  }

  .header__image-item img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .header__contacts-item:not(:last-child) {
    margin: 0 40px 0 0;
  }

  .image-item-1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .image-item-2 {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .image-item-3 {
    grid-row: 1/2;
    grid-column: 3/4;
  }

  .welcome__title-text {
    font-size: 28px;
    line-height: 40px;
  }

  .welcome__subtitle-text {
    font-size: 16px;
    line-height: 19px;
  }

  .welcome__slider-pagination {
    margin: 0 25px 0 0;
  }

  .welcome__slider-pagination .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
  }

  .welcome__slider-pagination .swiper-pagination-bullet:not(:last-child) {
    margin: 0 10px 0 0;
  }

  .welcome__slider-prev {
    height: 4px;
    margin: 0 15px 0 0;
  }

  .welcome__slider-next {
    height: 4px;
  }

  .welcome__slider-numbers {
    font-size: 16px;
    margin: 0 25px 0 0;
  }

  .video__controlls {
    padding: 16px 30px;
  }

  .video__play-pause {
    margin: 20.6px 0 0 0;
  }

  .video__slider-mini {
    margin: 40px 0 0 0;
  }

  .video__wrapper iframe {
    height: 101px;
  }

  .video__slider-controlls {
    margin: 40px 0 0 0;
  }

  .play-pause img {
    width: 50px;
    height: 50px;
  }

  .gallery {
    height: 757px;
  }

  .ticket__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .ticket__column:first-child {
    margin: 0 0 40px 0;
  }

  .ticket__column:last-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .ticket__item-title {
    margin: 0 0 20px 0;
  }

  .ticket__item-title-text {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }

  .ticket__type-title {
    margin: 0 0 15px 0;
  }

  .ticket__type-title-text {
    font-size: 16px;
    line-height: 18.75px;
  }

  .ticket__type {
    margin: 0 0 20px 0h;
  }

  .ticket__total-item {
    text-align: center;
  }

  .ticket__total-item-text {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0;
  }

  .ticket__button {
    font-weight: 300;
    padding: 16px 48px;
  }

  .contacts__column-title-text {
    font-size: 16px;
    line-height: 19px;
  }

  .contacts__column-address-text {
    font-size: 16px;
    line-height: 19px;
  }

  .contacts__column-phone-text {
    font-size: 16px;
    line-height: 19px;
  }

  .contacts__column-mail-text {
    font-size: 16px;
    line-height: 19px;
  }

  .contacts__map-wrapper iframe {
    height: 248px;
  }

  .footer__nav-link {
    font-size: 16px;
    line-height: 19px;
  }

  .footer__copyrights-link {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .header__menu-images {
    grid-template-rows: 22vw;
  }
}

@media (max-width: 380px) {
  .header__menu-images {
    grid-template-rows: 21.5vw;
  }
}

@media (max-width: 360px) {
  .header__menu-images {
    grid-template-rows: 20.5vw;
  }

  .header__menu-images {
    grid-template-rows: 19vw;
  }
}

@media (max-width: 350px) {
  .footer__social-item:not(:last-child) {
    margin: 0 45px 0 0;
  }
}
@supports (-webkit-appearance:none){
.parallax__wrapper{background-image:url(../img/parallax.webp)}
}

 @media (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1400px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1360px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1145px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1024px) and (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 955px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 935px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 900px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 736px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 655px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 620px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 610px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 590px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 460px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 420px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 400px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 380px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 360px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 350px){

@supports (-webkit-appearance:none){

}

}
